<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCo07Bvqm4criliL_X2ZE03Rs9U3rcDCh0</string>
	<key>GCM_SENDER_ID</key>
	<string>575103458767</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.KingofKings.Ingredients2Recipes</string>
	<key>PROJECT_ID</key>
	<string>ingredients2recipes-e9e10</string>
	<key>STORAGE_BUCKET</key>
	<string>ingredients2recipes-e9e10.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:575103458767:ios:930906dda2b828ef5546ba</string>
</dict>
</plist>